body {
    background: #ddd;
}
.red {
    color: red;
}
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.blue {
    color: blue;
}
.orange {
    color: orange;
}
.purple {
    color: purple;
}
.pink {
    color: pink;
}
.brown {
    color: brown;
}
.black {
    color: #252525;
}
.gray {
    color: gray;
}
.white {
    color: #eeeeee;
}
